@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&family=Zen+Tokyo+Zoo&display=swap");
@font-face {
  font-family: "ZenTokyoZoo";
  src: url("ZenTokyoZoo.ttf") format("ttf"); }

.menu-btn {
  position: absolute;
  z-index: 10;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    background: rgba(59, 59, 61, 0.9); }
  .menu-nav {
    z-index: 9;
    margin: 0;
    padding: 0;
    background: #3b3b3d;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: rgba(71, 72, 74, 0.9);
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url(../img/portrait2.png);
      background-position: center;
      border-radius: 50%;
      border: solid 3px #cfe649; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #cfe649; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #cfe649; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.nav-item:nth-child(5) {
  transition-delay: 0.5s; }

.slides {
  padding: 0;
  width: 1220px;
  height: 600px;
  display: block;
  margin: 0 auto;
  position: relative; }

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

.slides input {
  display: none; }

.slide-container {
  display: block; }

.slide {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all 1s ease-in-out; }

.slide img {
  width: 100%;
  height: 100%; }

.slide p {
  color: #cfe649;
  text-align: center;
  z-index: 9; }

.nav label {
  width: 150px;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  transition: opacity 0.2s;
  justify-content: center;
  color: #cfe649;
  font-size: 156px;
  text-align: center;
  line-height: 600px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px #777777; }

.slide:hover + .nav label {
  opacity: 0.5; }

.nav label:hover {
  opacity: 1; }

.nav .next {
  right: 0; }

input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out; }

input:checked + .slide-container .nav label {
  display: block; }

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center; }

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6); }

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8); }

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: rgba(0, 0, 0, 0.8); }

body {
  background: #47484a;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(71, 72, 74, 0.9); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(76, 77, 79, 0.5); }

h1 {
  font-family: "PunkKid", "MuseoModerno", Segoe UI, cursive; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #cfe649; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #cfe649;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: #cfe649 3px solid; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  .about-info .job1 {
    grid-area: job1; }
  .about-info .job2 {
    grid-area: job2; }
  .about-info .job3 {
    grid-area: job3; }
  .about-info .job {
    background: #535557;
    padding: 0.5rem;
    border-bottom: #cfe649 5px solid; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    height: 50%;
    border: 3px #fff solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #cfe649;
      transition: all 0.5s ease-out; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #cfe649;
      color: #000; }
      .boxes div:hover span {
        color: #000; }

.btn, .btn-dark, .slide-btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .slide-btn-dark:hover, .btn-light:hover {
    background: #cfe649;
    color: #000; }

.btn-dark, .slide-btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #c7c8c9;
  color: #333; }

.slide-btn-dark {
  top: 0; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2e2f30;
  color: #fff;
  height: 60px; }

slider {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  overflow: hidden;
  position: absolute; }

slider > * {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #1f1f1f;
  animation: slide 12s infinite;
  overflow: hidden; }

slide:nth-child(1) {
  left: 0%;
  animation-delay: -1s;
  background-image: url(../img/projects/project1.jpg);
  background-size: cover;
  background-position: center; }

slide:nth-child(2) {
  animation-delay: 2s;
  background-image: url(../img/projects/project2.jpg);
  background-size: cover;
  background-position: center; }

slide:nth-child(3) {
  animation-delay: 5s;
  background-image: url(../img/projects/project3.jpg);
  background-size: cover;
  background-position: center; }

slide:nth-child(4) {
  animation-delay: 8s;
  background-image: url(../img/projects/project4.jpg);
  background-size: cover;
  background-position: center; }

slide:nth-child(5) {
  left: 0%;
  animation-delay: 11s;
  background-image: url(../img/projects/project1.jpg);
  background-size: cover;
  background-position: center; }

slide p {
  font-family: Comfortaa;
  font-size: 70px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 340px;
  color: #000; }

@keyframes slide {
  0% {
    left: 100%;
    width: 100%; }
  5% {
    left: 0%; }
  25% {
    left: 0%; }
  30% {
    left: -100%;
    width: 100%; }
  30.0001% {
    left: -100%;
    width: 0%; }
  100% {
    left: 100%;
    width: 0%; } }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-navshow,
    div.menu-brandingshow {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../img/portrait2.png");
      width: 150px;
      min-height: 150px;
      background-position: center; }
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; }
  .projects {
    grid-template-columns: 1fr; }
  .slides {
    padding: 0;
    width: 122px;
    height: 84px; } }
